.container_75{
  width: 75%;
  margin: auto;
}
/* utility class */
.bg_grey{
  background-color: #F3F5F9;
}
.txt_white{
  color: white !important;
}
.txt_blue{
  color: #056DFF;
}
.txt_lightgrey{
  color: #BBC5F0 !important;
}
.txt_grey{
  color: grey !important;
}
.fs_12{
  font-size: 12px !important;
}
.fs_15{
  font-size: 15px !important;
}
.fs_51{
  font-size: 51px !important;
}
.fw_400{
  font-weight: 400 !important;
}
.fw_700{
  font-weight: 700 !important;
}
.mg_0{
  margin: 0;
}
.pd_0{
  padding: 0;
}
.pd_30{
  padding: 30px;
}
.pd_60{
  padding: 60px;
}
.pb_5{
  padding-bottom: 5px;
}
/* /utility class */

/* header */
/* navbar */
.navbar{
  margin-bottom: 0;
  border: none;
  background-color: white;
}
.navbar-brand{
  height: 80px;
  line-height: 50px;
  padding-left: 0;
}
.navbar-brand img{
  height: auto;
  width: 180px;
  display: inline-block;
  vertical-align: middle;
}
.navbar li{
  height: 80px;
  line-height: 90px;
}
.navbar-nav > li > a{
  height: 80px;
  line-height: 60px;
  padding: 15px 8px;
}
.navbar-nav i{
  padding-left: 5px;
}
.btn-default {
  color: #0269FF;
  background-color: #fff;
  border-color: #0269FF;
  margin-right: 15px;
}
.navbar-default .navbar-toggle {
  border: none;
  font-size: 25px;
  color: grey;
}
.navbar-toggle {
  position: relative;
  float: right;
  background-color: transparent;
  background-image: none;
  border: 1px solid transparent;
  line-height: 46px;
}
.navbar-default .navbar-nav>li>a:hover{
  color: #0269FF;
}
.btn-default:hover {
  color: white;
  background-color: #0269FF;
  transition: background-color 0.25s linear,border-color 0.25s linear,color 0.25s linear;
  border-color: #0269FF;
}
.navbar-default .navbar-toggle:hover {
    background-color: white;
}
@media screen and (max-width: 1200px) {
    .navbar-header {
        float: none;
    }
    .navbar-left,.navbar-right {
        float: none !important;
    }
    .navbar-toggle {
        display: block;
        margin-right: 0;
        padding-right: 0;
    }
    .navbar-collapse {
        border-top: 1px solid transparent;
        box-shadow: inset 0 1px 0 rgba(255,255,255,0.1);
    }
    .navbar-fixed-top {
        top: 0;
        border-width: 0 0 1px;
    }
    .navbar-collapse.collapse {
        display: none!important;
    }
    .navbar-nav {
        float: none!important;
        margin-top: 7.5px;
    }
    .navbar-nav>li {
        float: none;
    }
    .navbar-nav>li>a {
        padding-top: 10px;
        padding-bottom: 10px;
    }
    .collapse.in{
        display:block !important;
    }
}
/* /navbar */

/* jumbotron */
.jumbotron{
  background-color: rgb(0, 105, 255);
  background-image: url("../../img/bg-home-hero.svg");
  background-size: cover;
  background-position: center center;
}
.jumbotron .row{
  padding: 160px 0 80px 0;
}
.jumbotron form{
  background-color: white;
}
form{
  padding: 30px 20px;
  border-radius: 5px;
}
.btn-primary {
    color: #fff;
    background-color: #579AFF;
    border-color: #579AFF;
}
.btn-google{
  text-transform: none;
  padding: 10px 10px;
  color: grey;
  border-bottom: 0.2px solid lightgrey;
  border-right: 0.2px solid lightgrey;
  box-shadow: 1px 1px 6px lightgrey;
}
.btn-google img{
  float: left;
  height: 20px;
}
.btn-primary:hover{
  color: #579AFF;
  background-color: #fff;
  border-color: #579AFF;
}
@media screen and (max-width: 1200px) {
  .container_75{
    width: 90%;
    margin: auto;
  }
}
@media screen and (max-width: 845px) {
  .jumbotron h1{
    font-size: 45px !important;
  }
}
/* /jumbotron */
/* /header */

/* main */
/* section customer */
#customer img{
  width: 49%;
  height: 100%;
}
#customer [class*="col-sx"] > img {
  padding: 10px 15px;
}
#customer [class*="col-sm"] {
  padding: 0px 0px;
  height: 120px;
}
/* /section customer */

/* section process */
/* /section process */

/* section carosel_one */
/* /section carosel_one */

/* section service */
/* /section service */

/* section region */
/* /section region */

/* section carosel_two */
/* /section carosel_two */

/* section your_account */
/* /section your_account */
/* /main */

/* footer */
/* /footer */
